<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="restaurantBean" class="org.krunal.spring.Restaurant" lazy-init="true" >
        <constructor-arg ref="teaBean" />
        <property name="welcomeNote" value="${welcomeNote}"/>
        <property name="restaurantWaitersList">
            <list>
                <value>Mr.A</value>
                <value>Mr.B</value>
                <value>Mr.C</value>
                <value>Mr.D</value>
            </list>
        </property>
    </bean>
    <bean id="teaBean" class="org.krunal.spring.Tea" scope="prototype" lazy-init="true"></bean>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="org.krunal.spring.DemoBeanPostProcessor"/>
    <bean class="org.krunal.spring.DemoBeanPostProcessor2"/>
    <bean class="org.krunal.spring.DemoBeanFactoryPostProcessor"/>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="Locations">
            <value>classpath:spring.properties</value>
        </property>
    </bean>
</beans>